# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Zombie.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityLearning\Zombie\.idea\.idea.Zombie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
